.campus-wrapper {
    width: 90%;
    margin: 50px auto;
  }
  
  .process-box {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .process-box_img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  